# Numpy

**Ejercicio 1:**

Importar numpy

Importar pyplot de matplotlib

**Ejercicio 2:**

In [1]:
lista= [31,28,29,19]

Crear una ndarray utilizando la lista anterior

**Ejercicio 3:**

In [2]:
lista_2d=[[2,3,4],
          [3,4,5],
          [3,4,5],
          [3,4,5]]

Crear una ndarray utilizando la lista bidimensional anterior

**Ejercicio 4:**

Utilizar la propiedad shape para obtener la forma del ndarray anterior

Utilizar la propiedad ndim para obtener las dimensiones del ndarray anterior

Utilizar la propiedad dtype para obtener el tipo de los datos en el ndarray anterior

Utilizar la propiedad size para obtener la cantidad total de datos en el ndarray anterior

**Ejercicio 5:**

Crear un ndarray utilizando la lista "lista_2d", el tipo de los datos debe ser "int16"

**Ejercicio 6:**

Utilizar la función np.zeros para crear un ndarray con la forma 3x2. Las matrices vacías se suelen crear para iniciar los valores cuando estamos entrenando una red neuronal

Utilizar la función np.ones para crear un ndarray con la forma 3x3

Utilizar la función np.empty para crear un ndarray con la forma 2x4

**Ejercicio 7:**

Crear un ndarray de 1 dimensión con los valores del 0 al 9 (Ej. [1,2,3,...])

Crear un ndarray de 2 dimensión con la forma 2x5,los valores deben ser del 0 al 9 (Ej. [[0,1,2,3,4],[5,6,..]]). Quizás tengas que usar `reshape`, que es importante cuando trabajemos con TensorFlow al usarse mucho para el tema de los ciclos/vueltas de entrenamiento

**Ejercicio 8:**

Utilizar np.arange para crear un ndarray con los valores del 10 al 20, deben ir de 2 en 2 (Ej. [10,12,..])

**Ejercicio 9:**

Utilizar np.linspace para crear un ndarray con los valores enteros entre el 10 al 20. Este método será importante a la hora de trabajar con TensorFlow y scikit learn para regresiones lineales

**Ejercicio 10:**

Utilizar np.linspace para crear un ndarray con 100 números entre el 0 y 2 $\pi$

Utilizar np.sin y np.cos para obtener los valores de seno y coseno en los puntos del array anterior

Utilizar plt.plot para graficar un círculo con los datos de seno y coseno

**Ejercicio 11:**

Utilizar plt.plot para graficar los valores de seno y coseno por separado

**Ejercicio 12:**

In [ ]:
a= np.linspace(10,20,6)
b= np.linspace(5,25,6)
print(a,b)

Sumar los valores de los ndarray "a" y "b"

Unir los ndarray "a" y "b", guardarlo en la variable c

Ordenar los valores del ndarray c

**Ejercicio 13:**

Utilizar rg.random para generar un ndarray de 1000 números aleatorios entre el 0 y 1. La librería numpy tiene un módulo random con una función `default_rng` a la que hay que indicarle cuál es la semilla; por ejemplo, puedes usar el número 2

Dibuja el histograma de los datos. Un histograma es una representación gráfica de la distribución de un conjunto de datos numéricos, dividiendo los valores en intervalos (bins) y contando la frecuencia de los valores en cada intervalo. Usa un bins de 100

**Ejercicio 14:**

Utilizar rg.normal para generar 100000 valores aleatorios que sigan una distribución normal. Haz que tenga una media de 10 y una desviación de estándar de 5

Dibuja el histograma con un bins de 1000 y verás la forma que tienen las distribuciones normales

**Ejercicio 15:**

Utilizar rg.integers para generar 2000 números aleatorios enteros entre el 0 y el 19. Utiliza la segunda celda para pintar el histograma

In [ ]:
#np.unique(enteros, return_counts=True) Comprobar que los valores son muy similares

**Ejercicio 16:**

Utilizar rg.choice para elegir 10 números aleatorios SIN REPETIR entre el 0 y el 25

**Ejercicio 17:**

In [ ]:
estadisticos = rg.integers(20,size=8)
estadisticos

Utilizar la función min() para obtener el valor mínimo en el ndarray "estadisticos"

Utilizar la función max() para obtener el valor máximo en el ndarray "estadisticos"

Utilizar la función mean() para obtener el valor promedio en el ndarray "estadisticos"

Utilizar la función std() para obtener el valor de la desviación estandar en el ndarray "estadisticos"

Utilizar la función sum() para obtener el valor al sumar todos los números en el ndarray "estadisticos"

**Ejercicio 18:**

In [ ]:
estadisticos_2d = rg.integers(20,size=(5,4))
estadisticos_2d

Utilizar la función min() para obtener el valor mínimo de cada columna en el ndarray "estadisticos_2d"

Utilizar la función max() para obtener el valor mínimo de cada fila en el ndarray "estadisticos_2d"

**Ejercicio 19:**

In [ ]:
estadisticos_2d

Obtener los valores menores a 12 en el ndarray "estadisticos_2d"

**Ejercicio 20:**

In [ ]:
np1 = rg.integers(20,size=(3,3))
np2 = rg.integers(20,size=(3,3))
print(np1,"\n\n",np2)

Utilizar np.vstack para unir los ndarray "np1" y "np2" verticalmente

Utilizar np.vstack para unir los ndarray "np1" y "np2" horizontalmente

**Ejercicio 21:**

In [ ]:
enteros = rg.integers(20,size=(10))
enteros

Seleccionar los primeros 6 valores del ndarray "enteros"

Seleccionar los valores en la posición 0,2 y 4 del ndarray "enteros"

Seleccionar todos los valores con un indice par en el ndarray "enteros" (0,2,4,...)

**Ejercicio 22:**

In [ ]:
enteros_2d = rg.integers(20,size=(8,5))
enteros_2d

Seleccionar el cuarto valor en el segundo array de "enteros_2d"

Seleccionar el segundo valor en los arrays con indice 3, 4 y 5 de "enteros_2d"

Seleccionar los 2 primeros valores en los arrays con indice 4, 5 y 6 de "enteros_2d"