# Pandas

## Series

**Ejercicio 1:**

Importar pandas

In [6]:
import pandas as pd

**Ejercicio 2:**

In [7]:
altura_cm = [178, 166, 155, 181, 176, 189, 190, 156]

Crea una serie llamada "altura" en base a la lista anterior utilizando `pd.Series()`

In [8]:
altura = pd.Series(altura_cm)

**Ejercicio 3:**

Inspeccionar los primeros 5 elementos con .head()

In [9]:
altura.head(7)

0    178
1    166
2    155
3    181
4    176
5    189
6    190
dtype: int64

Inspeccionar los primeros 3 elementos con .head

In [10]:
altura.head(3)
# altura.tail(3) -> ultimos 3

0    178
1    166
2    155
dtype: int64

**Ejercicio 4:**

Ordena los valores de la serie "altura". Esto es un paso de la operación, no cambia la "altura" original

In [11]:
# altura.dropna() -> return deleted values 
altura.sort_values(ascending=False)

6    190
5    189
3    181
0    178
4    176
1    166
7    156
2    155
dtype: int64

**Ejercicio 5:**

Obtener el valor mínimo en la serie "altura"

In [12]:
altura.sort_values(ascending=True)

2    155
7    156
1    166
4    176
0    178
3    181
5    189
6    190
dtype: int64

Obtener el valor máximo en la serie "altura"

In [13]:
altura.max()

np.int64(190)

Obtener el valor promedio en la serie "altura"

In [14]:
altura.median() # mediana
altura.mean()   # media

np.float64(173.875)

Obtener la suma de la serie "altura"

In [15]:
altura.sum()

np.int64(1391)

**Ejercicio 6:**

Obtener una descripción general de los valores en la serie "altura"

In [16]:
altura.describe()

count      8.000000
mean     173.875000
std       13.621805
min      155.000000
25%      163.500000
50%      177.000000
75%      183.000000
max      190.000000
dtype: float64

**Ejercicio 7:**

Obtener las alturas que superen los 170 cm en la serie "altura"

In [17]:
alturas_altas = altura[altura > 170].sort_values(ascending=False)
print(alturas_altas)

6    190
5    189
3    181
0    178
4    176
dtype: int64

## Dataframes

**Ejercicio 8:**

In [18]:
datos = {"Nombre": ["Erika", "Elías", "Miguel", "Karla", "Gabriela"],
        "Edad": [23, 24, 21, 25, 22],
        "Altura": [173, 194, 165, 154, 176],
        "Peso": [83.2, 65.4, 71.1, 67.9, 71.8]}

Crea un Dataframe llamado "amigos" utilizando el diccionario anterior

In [21]:
amigos = pd.DataFrame(datos)
amigos

     Nombre  Edad  Altura  Peso
0     Erika    23     173  83.2
1     Elías    24     194  65.4
2    Miguel    21     165  71.1
3     Karla    25     154  67.9
4  Gabriela    22     176  71.8

**Ejercicio 9:**

Obtener una descripción general de los datos numéricos en el DataFrame "amigos":

In [26]:
amigos.describe()

            Edad      Altura       Peso
count   5.000000    5.000000   5.000000
mean   23.000000  172.400000  71.880000
std     1.581139   14.774979   6.829861
min    21.000000  154.000000  65.400000
25%    22.000000  165.000000  67.900000
50%    23.000000  173.000000  71.100000
75%    24.000000  176.000000  71.800000
max    25.000000  194.000000  83.200000

**Ejercicio 10:**

Obtener los datos de los **amigos** con una **edad** menor a 23 años

In [34]:
edad_menor = amigos[amigos['Edad'] < 23]
edad_menor

     Nombre  Edad  Altura  Peso
2    Miguel    21     165  71.1
4  Gabriela    22     176  71.8

**Ejercicio 11:**

Importar los datos en el archivo "amigos.xlsx" en un DataFrame llamado "amigos" y muéstralos

In [ ]:
amigos = pd.read_excel("datos.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'datos.xlsx'

Mostrar los 5 primeros elementos

Cuenta los elementos

**Ejercicio 12:**

Obtener los datos de los amigos con una edad menor a 21 años

**Ejercicio 13:**

Importar los datos en el archivo "universidad.xlsx" en un DataFrame llamado "universidad"

Muestra los primeros elementos de "universidad"

Muestra los primeros elementos de "amigos"

**Ejercicio 14:**

Utilizar la función "merge" para unir en una variable "estudiantes" las tablas "amigos" y "universidad" en base a:

- La columna "id" en la tabla "amigos"
- La columna "id Persona" en la tabla "universidad"

Muestra los primeros elementos

**Ejercicio 15:**

Cambiar todas las letras a mayúscula en la columna "Num Control" del Dataframe "estudiantes". Verifica que los cambios han sido aplicados en el DataFrame

**Ejercicio 16:**

Cambiar la primera letra de cada palabra a mayúscula en la columna "Carrera" del DataFrame "estudiantes". Verificar que se han cambiado los datos

**Ejercicio 17:**

Agrega una columna llamada "Año" que contenga el año en que el estudiante se inscribió a la carrera del DataFrame "estudiantes"

**Ejercicio 18:**

Agregar una columna llamada "Año" que contenga el año y mes en que el estudiante se inscribió a la carrera del DataFrame "estudiantes"

**Ejercicio 19:**

Crea un DataFrame llamado "licenciados" que contenga los datos de los estudiantes inscritos a una licenciatura

**Ejercicio 20:**

Contar la cantidad de licenciados inscritos por cada año utilizando groupby

Dibuja un **gráfico de barras** con estas estadísticas con el **título** "Incripción de Licenciados por Año"

**Ejercicio 21:**

Contar la cantidad de alumnos inscritos en cada año separado por licenciatura utilizando pivot_table

Dibuja la gráfica con estos números